{
    "extends": ["strict"],
    "globals": {
        "_": false,
        "ebg": false,
        "define": false
    },
    "rules": {
        "array-element-newline": 0,
        "indent": ["error", 4],
        "max-params": 0,
        "no-empty-function": 0,
        "prefer-arrow-callback": 0,
        "prefer-destructuring": 0,
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    }
}