{
    "extends": ["strict"],
    "globals": {
        "_": false,
        "ebg": true,
        "define": true
    },
    "rules": {
        "array-element-newline": 0,
        "complexity": ["error", 12],
        "indent": ["error", 4],
        "max-len": ["error", {"code": 150}],
        "max-params": 0,
        "no-console": 0,
        "no-empty-function": 0,
        "prefer-arrow-callback": 0,
        "prefer-destructuring": 0,
        "quotes": ["error", "single"],
        "semi": ["error", "always"]
    }
}
